.kanban
  display: flex
  overflow-x: scroll
  max-height: 100vh

  &--column
    overflow-y: scroll
    min-width: 300px
    border: 1px solid lightgrey
    border-radius: 8px
    margin: .5rem
    padding: .5rem
  
.card-container
  margin-bottom: .5rem
