.app
  background: #fafafa
  
.container
  max-width: 900px
  margin: 0rem auto
  padding: 2rem 1rem

.kanban
  display: flex
  overflow-x: scroll
  max-height: 100vh

  &--column
    overflow-y: scroll
    min-width: 300px
    border: 1px solid lightgrey
    border-radius: 8px
    margin: .5rem
    background: white

    &--title
      font-size: 1.25rem
      padding: 1rem
      margin-bottom: .5rem
      border-bottom: 1px solid lightgrey
      position: sticky
      top: 0
      z-index: 1
      background: white
  
.card-container
  margin-bottom: .5rem
  cursor: grab
  padding: 0 1rem
